<select onchange="update();" data-line="{{ include.line }}">
    <option value="0">-</option>
    <option value="{{include.count | times: 1}}">1</option>
    <option value="{{include.count | times: 2}}">2</option>
    <option value="{{include.count | times: 3}}">3</option>
    <option value="{{include.count | times: 4}}">4</option>
    <option value="{{include.count | times: 5}}">5</option>
    <option value="{{include.count | times: 6}}">6</option>
    <option value="{{include.count | times: 7}}">7</option>
    <option value="{{include.count | times: 8}}">8</option>
    <option value="{{include.count | times: 9}}">9</option>
</select>